<html lang="es">
<div class="grid">
    <div class="col-12">
        <div class="card px-6 py-6">
            <p-toast></p-toast>
            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">
                    <div class="my-2">
                        <button pButton pRipple label="Nuevo" icon="pi pi-plus" class="p-button-success mr-2" (click)="openNew()"></button>
                    </div>
                </ng-template>

                <ng-template pTemplate="right">
                    <p-fileUpload mode="basic" accept="image/*" [maxFileSize]="1000000" label="Importar" chooseLabel="Import" class="mr-2 inline-block"></p-fileUpload>
                    <button pButton pRipple label="Exportar" icon="pi pi-upload" class="p-button-help" (click)="dt.exportCSV()"></button>
                </ng-template>
            </p-toolbar>

            <p-table #dt [value]="products" [columns]="cols" responsiveLayout="scroll" [rows]="5" [globalFilterFields]="['name','country.name','representative.name','status']" [paginator]="true" [rowsPerPageOptions]="[5,10,15,20]" [showCurrentPageReport]="true" currentPageReportTemplate="Mostrando desde el item {first} hasta el item {last} de {totalRecords} items" [(selection)]="selectedProducts" selectionMode="multiple" [rowHover]="true" dataKey="id">
                <ng-template pTemplate="caption">
                    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                        <h5 class="m-0">Administrador de inventarios</h5>
                        <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Search..."  class="w-full sm:w-auto"/>
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 3rem">
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th>
                        <th pSortableColumn="code">ID <p-sortIcon field="code"></p-sortIcon></th>
                        <th pSortableColumn="name">Nombre <p-sortIcon field="name"></p-sortIcon></th>
                        <th>Imagen </th>
                        <th pSortableColumn="price">Marca <p-sortIcon field="price"></p-sortIcon></th>
                        <th pSortableColumn="category">Categoría <p-sortIcon field="category"></p-sortIcon></th>
                        <th pSortableColumn="rating">Fecha de Adquisición <p-sortIcon field="rating"></p-sortIcon></th>
                        <th pSortableColumn="garantiaStatus">Garantía del Proveedor <p-sortIcon field="garantiaStatus"></p-sortIcon></th>
                        <th pSortableColumn="insuranceStatus">Seguro <p-sortIcon field="insuranceyStatus"></p-sortIcon></th>
                        <th></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-product>
                    <tr>
                        <td>
                            <p-tableCheckbox [value]="product"></p-tableCheckbox>
                        </td>
                        <td style="width:14%; min-width:10rem;"><span class="p-column-title">ID</span>
                            {{product.code || product.id}}
                        </td>
                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">Nombre</span>
                            {{product.name}}
                        </td>
                        <td style="width:14%; min-width:10rem;"><span class="p-column-title">Imagen</span>
                            <img [src]="'assets/demo/images/product/' + product.image" [alt]="product.name" width="100" class="shadow-4" />
                        </td>
                        <td style="width:14%; min-width:8rem;">
                            <span class="p-column-title">Marca</span>
                            {{product.marca}}
                        </td>
                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">Categoría</span>
                            {{product.category}}
                        </td>
                        <td style="width:14%; min-width: 10rem;"><span class="p-column-title">Fecha de Adquisición</span>
                            {{product.fecha_adquisicion}}
                        </td>
                        <td style="width:14%; min-width: 10rem;"><span class="p-column-title">Garantía del Proveedor</span>
                            <span [class]="'product-badge status-' + (product.garantia_proveedor ? product.garantia_proveedor.toLowerCase() : '')">{{product.garantia_proveedor}}</span>
                        </td>
                        <td style="width:14%; min-width: 10rem;"><span class="p-column-title">Seguro</span>
                            <span [class]="'product-badge status-' + (product.insuranceStatus ? product.insuranceStatus.toLowerCase() : '')">{{product.insuranceStatus}}</span>
                        </td>
                        <td>
                            <div class="flex">
                                <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" (click)="editProduct(product)"></button>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>

        <p-dialog [(visible)]="productDialog" [style]="{width: '450px'}" header="Ubicación" [modal]="true" class="p-fluid">
            <ng-template pTemplate="content">
                <img [src]="'assets/demo/images/product/' + product.image" [alt]="product.image" width="150" class="mt-0 mx-auto mb-5 block shadow-2" *ngIf="product.image">
                

            </ng-template>


            <ng-template pTemplate="footer">
                <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
                <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="saveProduct()"></button>
            </ng-template>
        </p-dialog>

        <p-dialog [(visible)]="productDialog" [style]="{width: '450px'}" [header]="getHeaderTitle()" [modal]="true" class="p-fluid" (onHide)="resetSteps()">

            <ng-template pTemplate="content">
                <img [src]="'assets/demo/images/product/' + product.image" [alt]="product.image" width="150" class="mt-0 mx-auto mb-5 block shadow-2" *ngIf="product.image">
                    <div *ngIf="currentStep === 1">
                        <div class="field">
                            <label for="id_producto">ID</label>
                            <input type="text" pInputText id="id_producto" [(ngModel)]="product.id" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !product.id}"/>
                            <small class="ng-dirty ng-invalid" *ngIf="submitted && !product.id">ID es Requerido.</small>
                        </div>
                        <div class="field">
                            <label for="name">Nombre</label>
                            <input type="text" pInputText id="name" [(ngModel)]="product.name" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !product.name}"/>
                            <small class="ng-dirty ng-invalid" *ngIf="submitted && !product.name">Nombre es Requerido.</small>
                        </div>
                        <div class="field">
                            <label for="description">Descripción</label>
                            <textarea id="description" pInputTextarea [(ngModel)]="product.description" required rows="3" cols="20"></textarea>
                        </div>
                        <div class="field">
                            <label for="color">Color</label>
                            <input type="text" pInputText id="color" [(ngModel)]="product.color" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !product.color}"/>
                            <small class="ng-dirty ng-invalid" *ngIf="submitted && !product.color">Color es Requerido.</small>
                        </div>
                        <div class="field">
                            <label for="marca">Marca</label>
                            <input type="text" pInputText id="marca" [(ngModel)]="product.marca" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !product.marca}"/>
                            <small class="ng-dirty ng-invalid" *ngIf="submitted && !product.marca">Marca es Requerida.</small>
                        </div>
                        <div class="field">
                            <label for="inventoryGroup">Grupo de Inventario</label>
                            <p-dropdown [(ngModel)]="product.inventoryGroup" inputId="inventoryGroup" optionValue="label" [options]="tipos" placeholder="Select">
                                <ng-template pTemplate="selectedItem">
                                    <span *ngIf="product && product.inventoryGroup" [class]="'product-badge status-' + product.inventoryGroup.toString().toLowerCase()">{{product.inventoryGroup}}</span>
                                </ng-template>
                                <ng-template let-option pTemplate="item">
                                    <span [class]="'product-badge status-' + option.value">{{option.label}}</span>
                                </ng-template>
                            </p-dropdown>
                        </div>
                        <div class="field">
                            <label for="Fecha_adquisicion">Fecha de Adquisición</label>
                            <input type="date" pInputText id="Fecha_adquisicion" [(ngModel)]="product.fechaAdquisicion" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !product.fechaAdquisicion}"/>
                            <small class="ng-dirty ng-invalid" *ngIf="submitted && !product.fechaAdquisicion">Fecha de Adquisición es requerida.</small>
                        </div>
                        <div class="field">
                            <label for="Fecha_salida">Fecha de salida de nventario</label>
                            <input type="date" pInputText id="Fecha_salida" [(ngModel)]="product.fechaSalida" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !product.fechaSalida}"/>
                            <small class="ng-dirty ng-invalid" *ngIf="submitted && !product.fechaSalida">Fecha de salida de Inventario es Requerida.</small>
                        </div>
                    </div>
                    
                    <div *ngIf="currentStep === 2">
                        <div class="field">
                            <section >
                                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15863.080002990808!2d-75.569394!3d6.2939287!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e442f2bec3972d7%3A0x57c2dde37b5a2510!2sInstituci%C3%B3n%20Educativa%20Colegio%20Loyola%20para%20la%20Ciencia%20y%20la%20Innovaci%C3%B3n!5e0!3m2!1ses-419!2sco!4v1712708117619!5m2!1ses-419!2sco" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                            </section>
                            <br>
                            <label for="Direccion">Dirección</label>
                            <input type="text" pInputText id="Direccion" [(ngModel)]="product.direccion" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !product.direccion}"/>
                            <small class="ng-dirty ng-invalid" *ngIf="submitted && !product.direccion">Dirección es Requerida.</small>
                        </div>
                        <div class="field">
                            <label for="Sede">Sede</label>
                            <input type="text" pInputText id="Sede" [(ngModel)]="product.sede" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !product.sede}"/>
                            <small class="ng-dirty ng-invalid" *ngIf="submitted && !product.sede">Sede es Requerida.</small>
                        </div>
                        <div class="field">
                            <label for="Salon">Salón u Oficina</label>
                            <input type="text" pInputText id="Salon" [(ngModel)]="product.salon" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !product.salon}"/>
                            <small class="ng-dirty ng-invalid" *ngIf="submitted && !product.salon">Salón u oficina son Requeridos.</small>
                        </div>
                    </div>

                    <div *ngIf="currentStep === 3">
                        <div class="field">
                            <label class="mb-3">Seleccione:</label>
                            <div class="formgrid grid">
                                <div class="field-radiobutton col-6">
                                    <p-radioButton id="category1" name="category" value="Accessories" [(ngModel)]="product.category"></p-radioButton>
                                    <label for="category1">Principal</label>
                                </div>
                                <div class="field-radiobutton col-6">
                                    <p-radioButton id="category2" name="category" value="Clothing" [(ngModel)]="product.category"></p-radioButton>
                                    <label for="category2">Partes</label>
                                </div>
                            </div>
                        </div>
                    
                        <div *ngIf="product.category === 'Accessories'" class="field">
                            <label for="id_compuestoPpal">ID</label>
                            <input type="text" pInputText id="id" [(ngModel)]="product.id">
                        </div>
                    
                        <div *ngIf="product.category === 'Clothing'">
                            <div class="field" *ngFor="let part of parts; let i = index">
                                <label for="partName{{i}}">Nombre de la Parte {{i + 1}}</label>
                                <input type="text" pInputText id="partName{{i}}" [(ngModel)]="parts[i].name">
                                <label for="partId{{i}}">ID {{i + 1}}</label>
                                <input type="text" pInputText id="partId{{i}}" [(ngModel)]="parts[i].id">
                            </div>
                            <div class="button-group">
                                <button pButton type="button" label="Agregar" icon="pi pi-plus" (click)="addPart()" class="p-button-success"></button>
                                <button pButton type="button" label="Remover" icon="pi pi-trash" (click)="removeLastPart()" class="p-button-danger"></button>
                            </div>
                        </div>
                    </div>                    
                    

                    <div *ngIf="currentStep === 4">
                        <div class="field">
                            <label for="maintenancetype">Tipo de Mantenimiento</label>
                            <p-dropdown [(ngModel)]="product.maintenancetype" inputId="maintenancetype" optionValue="label" [options]="maintenancetype" placeholder="Select">
                                <ng-template pTemplate="selectedItem">
                                    <span *ngIf="product && product.maintenancetype" [class]="'product-badge status-' + product.maintenancetype.toString().toLowerCase()">{{product.maintenancetype}}</span>
                                </ng-template>
                                <ng-template let-option pTemplate="item">
                                    <span [class]="'product-badge status-' + option.value">{{option.label}}</span>
                                </ng-template>
                            </p-dropdown>
                        </div>
                        <div class="field">
                            <label for="periodicidad">Periodicidad</label>
                            <input type="text" pInputText id="periodicidad" [(ngModel)]="product.periodicidad" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !product.periodicidad}"/>
                            <small class="ng-dirty ng-invalid" *ngIf="submitted && !product.periodicidad">Periodicidad es Requerida.</small>
                        </div>
                        <div class="field">
                            <label for="observaciones">Observaciones</label>
                            <input type="text" pInputText id="observaciones" [(ngModel)]="product.observaciones" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !product.observaciones}"/>
                            <small class="ng-dirty ng-invalid" *ngIf="submitted && !product.observaciones">Observaciones(repuestos) es Requerida.</small>
                        </div>
                    </div>
                    

                    <div *ngIf="currentStep === 5">
                        <div class="field">
                            <label for="ID_proveedor">ID</label>
                            <input type="text" pInputText id="ID_proveedor" [(ngModel)]="product.ID_proveedor" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !product.ID_proveedor}"/>
                            <small class="ng-dirty ng-invalid" *ngIf="submitted && !product.ID_proveedor">ID del proveedor es Requerido.</small>
                        </div>
                        <div class="field">
                            <label for="Name_proveedor">Nombre</label>
                            <input type="text" pInputText id="Name_proveedor" [(ngModel)]="product.Name_proveedor" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !product.Name_proveedor}"/>
                            <small class="ng-dirty ng-invalid" *ngIf="submitted && !product.Name_proveedor">Nombre del proveedor es Requerido.</small>
                        </div>
                        <div class="field">
                            <label for="Telefono_proveedor">Teléfono</label>
                            <input type="text" pInputText id="Telefono_proveedor" [(ngModel)]="product.Telefono_proveedor" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !product.Telefono_proveedor}"/>
                            <small class="ng-dirty ng-invalid" *ngIf="submitted && !product.Telefono_proveedor">Teléfono del proveedor es Requerido.</small>
                        </div>
                        <div class="field">
                            <label for="Direccion_proveedor">Dirección</label>
                            <input type="text" pInputText id="Direccion_proveedor" [(ngModel)]="product.Direccion_proveedor" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !product.Direccion_proveedor}"/>
                            <small class="ng-dirty ng-invalid" *ngIf="submitted && !product.Direccion_proveedor">Dirección del proveedor es Requerida.</small>
                        </div>
                        <div class="field">
                            <label for="Pais_proveedor">País</label>
                            <p-dropdown [(ngModel)]="product.Pais" inputId="País" optionValue="label" [options]="Paises" placeholder="Select">
                                <ng-template pTemplate="selectedItem">
                                    <span *ngIf="product && product.Pais" [class]="'product-badge status-' + product.Pais.toLowerCase()">{{product.Pais}}</span>
                                </ng-template>
                                <ng-template let-option pTemplate="item">
                                    <span [class]="'product-badge status-' + option.value">{{option.label}}</span>
                                </ng-template>
                            </p-dropdown>
                            <small class="ng-dirty ng-invalid" *ngIf="submitted && !product.Pais_proveedor">País del proveedor es Requerido.</small>
                        </div>
                        <div class="field">
                            <label for="Ciudad_proveedor">Ciudad</label>
                            <input type="text" pInputText id="Ciudad_proveedor" [(ngModel)]="product.Ciudad_proveedor" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !product.Ciudad_proveedor}"/>
                            <small class="ng-dirty ng-invalid" *ngIf="submitted && !product.Ciudad_proveedor">Ciudad del proveedor es Requerida.</small>
                        </div>
                        <div class="field">
                            <label for="Factura_compra">Factura de compra</label>
                            <input type="text" pInputText id="Factura_compra" [(ngModel)]="product.Factura_compra" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !product.Factura_compra}"/>
                            <small class="ng-dirty ng-invalid" *ngIf="submitted && !product.Factura_compra">Factura de compra es Requerida.</small>
                        </div>
                        <div class="field">
                            <label for="Fecha_compra">Fecha de compra</label>
                            <input type="date" pInputText id="Fecha_compra" [(ngModel)]="product.Fecha_compra" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !product.Fecha_compra}"/>
                            <small class="ng-dirty ng-invalid" *ngIf="submitted && !product.Fecha_compra">Fecha de compra es Requerida.</small>
                        </div>
                        <div class="field">
                            <label for="Valor_iva">Valor con IVA</label>
                            <input type="text" pInputText id="Valor_iva" [(ngModel)]="product.Valor_iva" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !product.Valor_iva}"/>
                            <small class="ng-dirty ng-invalid" *ngIf="submitted && !product.Valor_iva">Valor con IVA es Requerido.</small>
                        </div>
                        <div class="field">
                            <label for="Garantia">Garantía</label>
                            <p-dropdown [(ngModel)]="product.Garantia" inputId="Garantia" optionValue="label" [options]="statusesGarantia" placeholder="Select">
                                <ng-template pTemplate="selectedItem">
                                    <span *ngIf="product && product.Garantia" [class]="'product-badge status-' + product.Garantia.toLowerCase()">{{product.Garantia}}</span>
                                </ng-template>
                                <ng-template let-option pTemplate="item">
                                    <span [class]="'product-badge status-' + option.value">{{option.label}}</span>
                                </ng-template>
                            </p-dropdown>
                        </div>
                        <div class="field">
                            <label for="Fecha_inicioGarantia">Fecha de inicio de Garantía</label>
                            <input type="date" pInputText id="Fecha_inicioGarantia" [(ngModel)]="product.Fecha_inicioGarantia" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !product.Fecha_inicioGarantia}"/>
                            <small class="ng-dirty ng-invalid" *ngIf="submitted && !product.Fecha_inicioGarantia">Fecha de inicio de garantía es Requerida.</small>
                        </div>
                        <div class="field">
                            <label for="Fecha_finGarantia">Fecha de fin de garantía</label>
                            <input type="date" pInputText id="Fecha_finGarantia" [(ngModel)]="product.Fecha_finGarantia" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !product.Fecha_finGarantia}"/>
                            <small class="ng-dirty ng-invalid" *ngIf="submitted && !product.Fecha_finGarantia">Fecha de fin de garantía es Requerida.</small>
                        </div>
                    </div>
                    

                    <div *ngIf="currentStep === 6">
                        <div class="field">
                            <label for="ID_aseguradora">ID de la Aseguradora</label>
                            <input type="text" pInputText id="ID_aseguradora" [(ngModel)]="product.ID_aseguradora" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !product.ID_aseguradora}"/>
                            <small class="ng-dirty ng-invalid" *ngIf="submitted && !product.ID_aseguradora">ID de la aseguradora es Requerido.</small>
                        </div>
                        <div class="field">
                            <label for="ID_poliza">ID de la Póliza</label>
                            <input type="text" pInputText id="ID_poliza" [(ngModel)]="product.ID_poliza" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !product.ID_poliza}"/>
                            <small class="ng-dirty ng-invalid" *ngIf="submitted && !product.ID_poliza">ID de la Póliza es Requerido.</small>
                        </div>
                        <div class="field">
                            <label for="Fecha_inicioGarantia">Fecha de inicio de garantía</label>
                            <input type="date" pInputText id="Fecha_inicioGarantia" [(ngModel)]="product.Fecha_inicioGarantia" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !product.Fecha_inicioGarantia}"/>
                            <small class="ng-dirty ng-invalid" *ngIf="submitted && !product.Fecha_inicioGarantia">Fecha de inicio de garantía es Requerida.</small>
                        </div>
                        <div class="field">
                            <label for="Fecha_finGarantia">Fecha de fin de garantía</label>
                            <input type="date" pInputText id="Fecha_finGarantia" [(ngModel)]="product.Fecha_finGarantia" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !product.Fecha_finGarantia}"/>
                            <small class="ng-dirty ng-invalid" *ngIf="submitted && !product.Fecha_finGarantia">Fecha de fin de garantía es Requerida.</small>
                        </div>
                        <div class="field">
                            <label for="Monto_asegurado">Monto grupal o particular</label>
                            <input type="text" pInputText id="Monto_asegurado" [(ngModel)]="product.Monto_asegurado" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !product.Monto_asegurado}"/>
                            <small class="ng-dirty ng-invalid" *ngIf="submitted && !product.Monto_asegurado">Monto asegurado es Requerido.</small>
                        </div>
                        <div class="field">
                            <label for="Obligaciones">Obligaciones de instalación o mantenimiento</label>
                            <input type="text" pInputText id="Obligaciones" [(ngModel)]="product.Obligaciones" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !product.Obligaciones}"/>
                            <small class="ng-dirty ng-invalid" *ngIf="submitted && !product.Obligaciones">Obligaciones son Requeridas.</small>
                        </div>
                    </div>
                    

                    <div *ngIf="currentStep === 7">
                        <div class="field">
                            <label for="Tipo_estado">Tipo de estado</label>
                            <p-dropdown [(ngModel)]="product.Tipo_estado" inputId="Tipo_estado" optionValue="label" [options]="statusProduct" placeholder="Seleccione">
                                <ng-template pTemplate="selectedItem">
                                    <span *ngIf="product && product.Tipo_estado" [class]="'product-badge status-' + product.Tipo_estado.toLowerCase()">{{product.Tipo_estado}}</span>
                                </ng-template>
                                <ng-template let-option pTemplate="item">
                                    <span [class]="'product-badge status-' + option.value">{{option.label}}</span>
                                </ng-template>
                            </p-dropdown>
                        </div>
                        <div class="field">
                            <label for="Fecha">Fecha</label>
                            <input type="date" pInputText id="Fecha" [(ngModel)]="product.Fecha" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !product.Fecha}"/>
                            <small class="ng-dirty ng-invalid" *ngIf="submitted && !product.Fecha">La fecha es Requerida.</small>
                        </div>
                        <div class="field">
                            <label for="Responsable">Responsable</label>
                            <input type="text" pInputText id="Responsable" [(ngModel)]="product.Responsable" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !product.Responsable}"/>
                            <small class="ng-dirty ng-invalid" *ngIf="submitted && !product.Responsable">El responsable es Requerido.</small>
                        </div>
                        <div class="field">
                            <label for="Descripcion">Descripción</label>
                            <textarea id="Descripcion" pInputTextarea [(ngModel)]="product.Descripcion" required rows="3" cols="20"></textarea>
                        </div>
                        <div class="field">
                            <label for="Observacion">Observación</label>
                            <textarea id="Observacion" pInputTextarea [(ngModel)]="product.Observacion" required rows="3" cols="20"></textarea>
                        </div>
                        <div class="field">
                            <label for="Condicion">Condición</label>
                            <textarea id="Condicion" pInputTextarea [(ngModel)]="product.Condicion" required rows="3" cols="20"></textarea>
                        </div>
                    </div>                    
                    
                
                    <div *ngIf="currentStep === 8">
                        <div class="field">
                            <label for="ID_responsable">ID del responsable</label>
                            <input type="text" pInputText id="ID_responsable" [(ngModel)]="product.ID_responsable" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !product.ID_responsable}"/>
                            <small class="ng-dirty ng-invalid" *ngIf="submitted && !product.ID_responsable">ID del responsable es Requerido.</small>
                        </div>
                        <div class="field">
                            <label for="Nombre_responsable">Nombre completo del responsable</label>
                            <input type="text" pInputText id="Nombre_responsable" [(ngModel)]="product.Nombre_responsable" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !product.Nombre_responsable}"/>
                            <small class="ng-dirty ng-invalid" *ngIf="submitted && !product.Nombre_responsable">Nombre del responsable es Requerido.</small>
                        </div>
                        <div class="field">
                            <label for="Cargo_responsable">Cargo del responsable</label>
                            <input type="text" pInputText id="Cargo_responsable" [(ngModel)]="product.Cargo_responsable" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !product.Cargo_responsable}"/>
                            <small class="ng-dirty ng-invalid" *ngIf="submitted && !product.Cargo_responsable">Cargo del Responsable es requerido.</small>
                        </div>
                        <div class="field">
                            <label for="Fecha_asignacion">Fecha de asignación</label>
                            <input type="date" pInputText id="Fecha_asignacion" [(ngModel)]="product.Fecha_asignacion" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !product.Fecha_asignacion}"/>
                            <small class="ng-dirty ng-invalid" *ngIf="submitted && !product.Fecha_asignacion">Fecha de asignación es Requerida.</small>
                        </div>
                        <div class="field">
                            <label for="Observaciones">Observaciones</label>
                            <textarea id="Observaciones" pInputTextarea [(ngModel)]="product.Observaciones" required rows="3" cols="20"></textarea>
                        </div>
                        <div class="field">
                            <label for="Fecha_devolucion">Fecha de devolución</label>
                            <input type="date" pInputText id="Fecha_devolucion" [(ngModel)]="product.Fecha_devolucion" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !product.Fecha_devolucion}"/>
                            <small class="ng-dirty ng-invalid" *ngIf="submitted && !product.Fecha_devolucion">Fecha de devolución es Requerida.</small>
                        </div>
                    </div>                    

                    <div *ngIf="currentStep === 9">
                        <div class="field">
                            <input type="file" accept="image/*" id="photo" (change)="onFileChange($event)" class="mr-2 inline-block">
                        </div>
                        <div class="field">
                            <img [src]="photoPreview" *ngIf="photoPreview" alt="Preview" width="200">
                        </div>
                    </div>
                
            </ng-template>


            <ng-template pTemplate="footer">
                <button pButton pRipple label="Atrás" icon="pi pi-angle-left" class="p-button-text" *ngIf="currentStep > 1" (click)="previousStep()"></button>
                <button pButton pRipple label="Siguiente" icon="pi pi-angle-right" class="p-button-text" *ngIf="currentStep < totalSteps" (click)="nextStep()"></button>
                <button pButton pRipple label="Guardar" icon="pi pi-check" class="p-button-text" *ngIf="currentStep === totalSteps" (click)="saveProduct()"></button>
                
            </ng-template>
        </p-dialog>


        <p-dialog [(visible)]="deleteProductDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span *ngIf="product">Are you sure you want to delete <b>{{product.name}}</b>?</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No" (click)="deleteProductDialog = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes" (click)="confirmDelete()"></button>
            </ng-template>
        </p-dialog>

        <p-dialog [(visible)]="deleteProductsDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span>¿Está seguro de que desea eliminar los productos seleccionados?</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No" (click)="deleteProductsDialog = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes" (click)="confirmDeleteSelected()"></button>
            </ng-template>
        </p-dialog>
    </div>
</div>
</html>

